<app-excursion-boton-agregar (excursionCreada)="recargarExcursiones()">

</app-excursion-boton-agregar>


<app-lista-generica
  titulo="Listado de Excursiones"
  subtitulo="Excursiones registradas en la base de datos"
  [data]="excursiones()"
  [columnas]="columnas"
  [hasMore]="hayMas()"
  [loadingMore]="cargando()"
  [rutaDetalle]="'/excursiones/detalle'"
  [campoId]="'id'"
  (loadMore)="cargarExcursiones()"
  (onEdit)="editarExcursion($event)"
  (onDelete)="eliminarExcursion($event.id,  $event.nombre)"
>
</app-lista-generica>
<!-- Modal de edición -->
@if (mostrarEdicion && excursionSeleccionada) {
<app-excursion-boton-editar [excursion]="excursionSeleccionada" (excursionEditada)="finalizarEdicion()"
    (cerrar)="cerrarEdicion()">
</app-excursion-boton-editar>
}