<app-boton-agregar-pais
  (paisCreado)="recargarPaises()">
</app-boton-agregar-pais>

<app-lista-generica
  titulo="Listado de Países"
  subtitulo="Países registrados en la base de datos"
  [data]="paises()"
  [columnas]="columnas"
  (onEdit)="editarPais($event)"
  (onDelete)="eliminarPais($event.id, $event.nombrePais)">
</app-lista-generica>

@if (mostrarEdicion && paisSeleccionado) {

  <app-pais-boton-editar
    [pais]="paisSeleccionado"
    (paisEditado)="finalizarEdicion()"
    (cerrar)="cerrarEdicion()">
  </app-pais-boton-editar>

}