<h2>Destinos</h2>
<button
  class="btn-primario"
  (click)="mostrarFormulario = true">
  Crear destino
</button>

@if (mostrarFormulario) {
  <app-destino-formulario
    [destinoEditar]="destinoEditando"
    (guardar)="guardarDestino($event)"
    (cerrar)="mostrarFormulario = false">
  </app-destino-formulario>
}

<hr>

<button class="btn-primario"(click)="obtenerDestinos()">Mostrar lista de destinos</button>


<app-lista-generica
  titulo="Listado de Destinos"
  subtitulo="Destinos disponibles en la base de datos"
  [data]="destinos()"
  [columnas]="columnas"
  (onEdit)="editarDestino($event)"
  (onDelete)="borrarPorId($event)" 
></app-lista-generica>
