<app-cliente-boton-agregar (clienteCreado)="obtenerClientes()">
</app-cliente-boton-agregar>

<app-lista-generica titulo="Listado de Clientes" subtitulo="Clientes registrados en la base de datos"
    [data]="clientes()" [columnas]="columnas" (onEdit)="editarCliente($event)" (onDelete)="eliminarCliente($event.id)">
</app-lista-generica>

@if (mostrarEdicion && clienteSeleccionado) {

<app-cliente-boton-editar [cliente]="clienteSeleccionado" (clienteEditado)="finalizarEdicion()"
    (cerrar)="cerrarEdicion()">
</app-cliente-boton-editar>

}