<app-boton-agregar-transaccion
  (transaccionCreada)="recargarTransacciones()">
</app-boton-agregar-transaccion>

<app-lista-generica
  titulo="Listado de Transacciones"
  subtitulo="Transacciones registradas en la base de datos"
  [data]="transacciones()"
  [columnas]="columnas"
  (onEdit)="editarTransaccion($event)"
  (onDelete)="eliminarTransaccion($event)"
>
</app-lista-generica>

@if (mostrarEdicion && transaccionSeleccionada) {

  <app-boton-editar-transaccion
    [transaccion]="transaccionSeleccionada"
    (transaccionEditada)="finalizarEdicion()"
    (cerrar)="cerrarEdicion()"
  >
  </app-boton-editar-transaccion>

}